@import "tailwindcss";

@font-face {
  font-family: 'Dinamica';
  src: local('Dinamica'), url('../assets/fonts/Dinamica.otf') format('opentype');
}

@theme {
  --font-dinamica: "Dinamica", sans-serif;
  --font-poppins: Poppins, sans-serif;
  --color-primary: #3C32A5;
  --color-white: #FFFFFF;
  --color-black: #000000;
}


:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}
